.btn {
  padding: 13px 27px;
  font-size: clamp(14px, 1.6vw, 20px);
  color: #fff;
  min-height: 50px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  transition: background-color var(--transition), box-shadow var(--transition);

  &-default {
    background-color: var(--btn-default);
    box-shadow: var(--btn-box-shadow-default);

    &:hover {
      background-color: #06a6f4;
      box-shadow: none;
      transition: background-color var(--transition),
        box-shadow var(--transition);
    }
  }

  &-secondary {
    background-color: var(--btn-secondary);
    box-shadow: var(--btn-box-shadow-secondary);
    &:hover {
      background-color: #98d016;
      box-shadow: none;
      transition: background-color var(--transition),
        box-shadow var(--transition);
    }
  }

  &-full {
    width: 100%;
  }
}
