<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__menu">

        <div class="footer__menu_item">
          <a class="footer__menu_item-title" href="/agentstvo/">О нас</a>
          <div class="footer__menu_container">
            <ul>
              <li><a href="/agentstvo/o-nas/">История</a></li>
              <li><a href="/agentstvo/sobitiya/">События</a></li>
              <li><a href="/otzivi/">Отзывы</a></li>
              <li><a href="/aktsii/">Акции</a></li>
              <li><a href="/agentstvo/faq/">FAQ</a></li>
            </ul>
          </div>
        </div>

        <div class="footer__menu_item">
          <div class="footer__menu_container">
            <ul>
              <li><img src="https://nmark.ru/img/footer/footer-license-1.png" alt="Золотой сертифицированный партнер"></li>
              <li><img src="https://nmark.ru/img/footer/footer-license-2.png" alt="Участник программы внедрения"></li>
              <li><img src="https://nmark.ru/img/footer/footer-license-3.png" alt="Композитный сайт "></li>
            </ul>
          </div>
        </div>

        <div class="footer__menu_item">
          <a class="footer__menu_item-title" href="/development/">Разработка</a>
          <ul>
            <li><a href="/sait-v-podarok-1/">Создание и продвижение <span>Акция</span></a></li>
            <li><a href="/razrabotka/korporativniy-sayt/">Корпоративный сайт</a></li>
            <li><a href="/razrabotka/sayt-s-katalogom/">Интернет-магазин</a></li>
            <li><a href="/razrabotka/internet-magazin/">Индивидуальная разработка</a></li>
            <li><a href="/katalog-saytov/">Готовые сайты</a></li>
          </ul>
        </div>

        <div class="footer__menu_item">
          <span class="footer__menu_item-title">Другие услуги</span>
          <ul>
            <li><a href="/prodvizhenie/korporativnogo-sayta/">Продвижение корпоративного сайта</a></li>
            <li><a href="/prodvizhenie/kataloga-tovarov/">Продвижение каталога товаров</a></li>
            <li><a href="/prodvizhenie/prodvizheniya-internet-magazina/">Продвижение интернет-магазина</a></li>
            <li><a href="/zakazat-audit/">Аудит</a></li>
            <li><a href="/context/">Контекст</a></li>
            <li><a href="/podderzhka/">Поддержка сайта</a></li>
            <li><a href="/smm/">SMM</a></li>
          </ul>
        </div>

        <div class="footer__menu_item">
          <span class="footer__menu_item-title">Проекты</span>
          <ul>
            <li><a href="/portfolio/portfolio-dev/">Портфолио по разработке</a></li>
            <li><a href="/portfolio/portfolio-seo/">Кейсы по SEO</a></li>
            <li><a href="/portfolio/bistriy-start/">Быстрый старт</a></li>
            <li><a href="/portfolio-context/">Кейсы по контексту</a></li>
          </ul>
        </div>

      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__bottom-copy">
        <span>© 2005-2024 NEWMARK</span>
        <a href="/agreement/">Политика конфиденциальности</a>
        <a href="/sitemap/">Карта сайта</a> 
      </div>
      <div class="footer__bottom-social">
        <span>Мы в соцсетях</span>
        <a href="https://vk.com/newmarkltd" target="_blank" rel="noopener noreferrer">
          <img src="https://nmark.ru/img/footer/footer_vk.png" alt="vk">
        </a>
        <a href="https://t.me/newmark_spb" target="_blank" rel="noopener noreferrer">
          <img src="https://nmark.ru/img/footer/footer_telegram.png" alt="telegram">
        </a>
        <a href="https://www.youtube.com/user/newmarkltd" target="_blank" rel="noopener noreferrer">
          <img src="https://nmark.ru/img/footer/footer_yootube.png" alt="yootube">
        </a>
      </div>
      <div class="footer__bottom-address">
        <span>196084, г. Санкт-Петербург, 
          ул. Парфеновская, д. 12, оф. 201, 
          БЦ «Аквилон LINKS»</span>
          <span class="footer-time-block">Пн-Пт 9:30 - 18:00</span>
      </div>
      <div class="footer__bottom-phone">
        <a href="tel:+88007707655">
          8 800 770 76 55
          <span>Бесплатно по России</span>
        </a>
        <a href="mailto:zakaz@nmark.ru">zakaz@nmark.ru</a>
      </div>
    </div>
  </div>
</footer>
