<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="header__top-wrapper">

        <div class="regions_chooser">
          <div class="regions_choose-title dashed">Санкт-Петербург</div>
          <div class="regions_choose-list"></div>
        </div>

        <div class="work_time">Пн-Пт 9:30 - 18:00</div>

        <a href="mailto:zakaz@nmark.ru" class="header_email main_email dashed">zakaz@nmark.ru</a>

        <a href="" class="btn btn-secondary">Заказать звонок</a>

      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="container">

    </div>
  </div>
</header>
